body {
    background-color: #121212;
    color: #e4e4e4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 400px; /* Set a max-width for a more centered look */
    border-radius: 8px;
    background: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2rem;
    color: #f2f2f2;
    margin-bottom: 1.5rem;
}

.form-label {
    font-weight: bold;
    color: #d2d2d2;
}

.form-control {
    background-color: #282828;
    border: 1px solid #444;
    color: #ddd;
}

.form-control:focus {
    border-color: #06b6d4;
    box-shadow: 0 0 0 0.2rem rgba(6, 182, 212, 0.25);
}

#dniButton {
    width: 100%;
    font-weight: bold;
    margin-top: 0.5rem;
}

#resultado {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #333;
    font-size: 1rem;
}